<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Django5.0App</title>
</head>

{% extends 'appname/base.html' %}

{% block content %}
<h1>Welcome!</h1>
<p>
    The home page is probably the most important page on your site. It's a high-traffic platform that serves as the
    jumping point for users to explore everything else.

    Effective web design is only the first step to creating a great home page. It's the content you put on it that
    really makes or breaks it.

    No matter if you're working on your first home page or your fiftieth, here are <a href="http://rb.gy/hfdb39"
        target="_blank">7
        helpful tips</a> to ensure it's impactful for your audience.
</p>
{% endblock content %}

</html>